html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #713837;
  padding: .5em .75em;
  margin: .1em;
  border-radius: 5px;
}

nav a:hover {
  background-color: #f33;
}

h1 {
  text-align: center;
  font-family: Bevan, serif;
  color: #fff;
  margin: 0;
}

header {
  background-color: #79756f;
  border-top: 5px solid #595652;
  border-bottom: 5px solid #595652;
  padding: .6em;
}
